<style>
    .title {
        font-size: larger;
    }
    .result {
        background-color: #faf6f6de;
        padding: 10px;
        margin: 5px;
        border: solid #f2d8d8de 1px;
    }
    a {
        color: #0645ad;
    }
</style>

<form action="/articlesearch" style="display: flex; flex-flow: row wrap">
    <label for="query" style="font-size: x-large; margin-right: 10px">Search:</label>
    <input type="text" id="query" name="query" value="{{query}}" size="80" style="font-size: larger">
    <input type="hidden" name="limit" value="50">
    <button type="submit" style="margin-left: 5px">Go</button>
</form>
<p>Showing {{data.length}} search results:</p>
<ul>
    {{#each data}}
        <li class="result">
            <div class="title">{{{wikilink this.title}}}</div>
            {{{this.excerpt}}}
        </li>
    {{/each}}
</ul>
