{{#if noQueries}}
<p>Couldn't find any transclusions of {{{wikilink template}}} on the page {{{wikilink page}}} :(</p>
{{else}}
<p>Your request for regenerating database reports on {{{wikilink page}}} has been registered.</p>
{{/if}}

