{{#if noQueries}}
<p>Couldn't find any transclusions of {{{wikilink template}}} on the page {{{wikilink page}}} :(</p>
{{else}}
<p>Your request for regenerating the database report on {{{wikilink page}}} has been registered. It may take the bot a few minutes to make the edit, depending on the efficiency of the query provided.</p>
{{/if}}

