<h2>Good articles by {{user}}</h2>
<p>Found {{dbresult.length}} successful nominations:</p>
<ol>
    {{#each dbresult}}
        <li>{{{wikilink this.article}}} ({{this.nomdate}})</li>
    {{/each}}
</ol>
