<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <footer>
        Issues? Contact {{{wikilink 'User:SD0001' 'SD0001'}}}
    </footer>
  </body>
</html>
