<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <footer>
        Issues? Contact {{{wikilink 'User:Mdaniels5757' 'Mdaniels5757'}}}
    </footer>
  </body>
</html>
