# m h  dom mon dow         job name   memory   executable     file path                                                resolution
0   2  1   *   *   jsub -N  job-MIS  -mem 900m ~/bin/node ~/SDZeroBot/most-imported-scripts/most-imported-scripts.js   > /dev/null
0   2  15  *   *   jsub -N  job-MIS  -mem 900m ~/bin/node ~/SDZeroBot/most-imported-scripts/most-imported-scripts.js   > /dev/null

0   0  *   *   *   jsub -N  job-AFC  -mem 900m ~/bin/node ~/SDZeroBot/afc-report/afc-sorting-bot.js                    > /dev/null

0  12  *   *   *   jsub -N  job-NPP  -mem 4g   ~/bin/node ~/SDZeroBot/npp-sorting/npp-sorting.js                       > /dev/null 

30  0   *   *   *   jsub -N job-PROD -mem 800m ~/bin/node ~/SDZeroBot/prod-sorting/prod-sorting.js                     > /dev/null
30  4   *   *   *   jsub -N job-PROD -mem 800m ~/bin/node ~/SDZeroBot/prod-sorting/prod-sorting.js                     > /dev/null
30  8   *   *   *   jsub -N job-PROD -mem 800m ~/bin/node ~/SDZeroBot/prod-sorting/prod-sorting.js                     > /dev/null
30  12  *   *   *   jsub -N job-PROD -mem 800m ~/bin/node ~/SDZeroBot/prod-sorting/prod-sorting.js                     > /dev/null
30  16  *   *   *   jsub -N job-PROD -mem 800m ~/bin/node ~/SDZeroBot/prod-sorting/prod-sorting.js                     > /dev/null
30  20  *   *   *   jsub -N job-PROD -mem 800m ~/bin/node ~/SDZeroBot/prod-sorting/prod-sorting.js                     > /dev/null

30  1   *   *   *   jsub -N job-PROD -mem 1g   ~/bin/node ~/SDZeroBot/afd-sorting/afd-sorting.js                       > /dev/null
30  5   *   *   *   jsub -N job-PROD -mem 1g   ~/bin/node ~/SDZeroBot/afd-sorting/afd-sorting.js                       > /dev/null
30  9   *   *   *   jsub -N job-PROD -mem 1g   ~/bin/node ~/SDZeroBot/afd-sorting/afd-sorting.js                       > /dev/null
30  13  *   *   *   jsub -N job-PROD -mem 1g   ~/bin/node ~/SDZeroBot/afd-sorting/afd-sorting.js                       > /dev/null
30  17  *   *   *   jsub -N job-PROD -mem 1g   ~/bin/node ~/SDZeroBot/afd-sorting/afd-sorting.js                       > /dev/null
30  21  *   *   *   jsub -N job-PROD -mem 1g   ~/bin/node ~/SDZeroBot/afd-sorting/afd-sorting.js                       > /dev/null
