/* to keep footer at bottom */
html {
    position: relative;
    min-height: 100%;
}

footer {
    font-size: smaller;
    margin-top: 40px;
    position: absolute;
    bottom: 10px;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
