/* Source: https://en.wikipedia.org/wiki/User:AnomieBOT/source/wikitable.css (Perl License) */
.wikitable {
    background-color: #f8f9fa;
    color: #222;
    margin: 1em 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
}

.wikitable > tr > th,
.wikitable > tr > td,
.wikitable > * > tr > th,
.wikitable > * > tr > td {
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
}

.wikitable > tr > th,
.wikitable > * > tr > th {
    background-color: #eaecf0;
    text-align: center;
}

.wikitable > caption {
    font-weight: bold;
}

table[data-sortable] th {
    white-space: nowrap;
}
table[data-sortable] th::after {
    float: none;
}
