<h2>AutoSQL</h2>
<form action="/autosql/generate" method="POST">
  <div>
    <label for="query-english">
      Enter your query in English to get the corresponding SQL:
    </label>
    <br>
    <br>
  </div>
  <textarea id="query-english" name="prompt" rows="4" cols="100"></textarea>
  <br>
  <br>
  <div>
    <button type="submit" class="sd-button">Generate SQL</button>
  </div>
</form>