<h2>Good articles by user</h2>
<p>Find successful good article nominations by user:</p>
<form method="get" action="/gans">
    <input type="text" name="user" placeholder="Enter username here">
    <button type="submit">Submit</button>
</form>
